body {
  margin: 0;
  font-family: 'Raleway', sans-serif; }
  body p {
    color: #ececec;
    font-size: 40px; }
  body .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    height: 110px;
    width: 110px; }
  body .home {
    background-color: #242935;
    height: 100vh;
    text-align: center; }
    body .home .i-am {
      margin-bottom: 50px; }
    body .home a {
      background-color: none;
      border: 2px solid #ececec;
      border-radius: 5px;
      text-decoration: none;
      color: #ececec;
      font-size: 20px;
      padding: 15px; }
      body .home a .fas {
        padding-left: 10px; }
    body .home a:hover {
      border: 3px solid #ececec;
      font-size: 21px; }
    body .home .name {
      color: #f7006d;
      font-weight: bold; }
  body .about {
    background-color: #ececec;
    padding: 30px 0; }
    body .about h2 {
      color: #f7006d;
      text-align: center;
      margin-block-start: 0; }
    body .about p {
      color: #242935;
      text-align: center;
      margin: 0 auto 30px auto;
      font-size: 20px;
      padding: 0 40px;
      width: 80%; }
    body .about ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      width: 80%;
      margin: 0 auto 0px auto;
      padding-inline-start: 0px; }
      body .about ul li {
        text-align: center;
        width: 20%;
        font-size: 40px;
        color: #f7006d;
        margin-bottom: 15px; }
        body .about ul li .software-name {
          display: none; }
      body .about ul li:hover .software-name {
        justify-content: center;
        display: flex;
        color: #242935; }
      body .about ul li:hover .software-icon {
        display: none; }
  body .projects-title {
    background-color: #242935;
    color: #f7006d;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding: 30px; }
  body .desktop {
    background-color: #242935; }
    body .desktop img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 15vh; }
    body .desktop .project {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      body .desktop .project .desktop-image {
        max-width: 40%;
        margin-left: 40px; }
        body .desktop .project .desktop-image img {
          height: 250px; }
      body .desktop .project .description {
        max-width: 50vw;
        margin-right: 40px; }
        body .desktop .project .description p {
          margin: 0 auto 0 auto;
          font-size: 20px;
          margin-bottom: 30px; }
        body .desktop .project .description a {
          background-color: none;
          border: 2px solid #f7006d;
          border-radius: 5px;
          text-decoration: none;
          color: #f7006d;
          font-size: 20px;
          padding: 10px;
          margin-right: 15px; }
          body .desktop .project .description a .gitlink {
            padding-left: 10px; }
          body .desktop .project .description a .fas {
            margin-right: 10px; }
        body .desktop .project .description a:hover {
          border: 3px solid #ececec;
          font-size: 21px; }
      body .desktop .project .desktop-tech {
        width: 100%; }
        body .desktop .project .desktop-tech ul {
          display: flex;
          justify-content: center;
          width: 100%;
          list-style: none;
          color: #ececec;
          padding-inline-start: 0; }
          body .desktop .project .desktop-tech ul li {
            display: inline;
            margin: 100px 15px;
            font-size: 25px; }
            body .desktop .project .desktop-tech ul li .software-name {
              display: none; }
          body .desktop .project .desktop-tech ul li:hover .software-name {
            display: flex;
            font-size: 8px; }
          body .desktop .project .desktop-tech ul li:hover .software-icon {
            display: none; }
  body .thrifty {
    background-color: #242935; }
    body .thrifty .title {
      display: flex;
      justify-content: center;
      margin-top: 30px; }
      body .thrifty .title img {
        height: 10vh; }
      body .thrifty .title h2 {
        display: inline;
        color: #f7006d;
        font-size: 80px;
        margin-bottom: 20px; }
    body .thrifty .project2 {
      display: flex;
      justify-content: space-around;
      padding-top: 30px; }
      body .thrifty .project2 .thrifty-image {
        max-width: 40vw;
        margin-left: 40px;
        display: flex; }
        body .thrifty .project2 .thrifty-image img {
          height: 400px; }
      body .thrifty .project2 .description {
        max-width: 50vw;
        margin: 0 40px; }
        body .thrifty .project2 .description p {
          margin: 0 auto 0 auto;
          font-size: 20px;
          margin-bottom: 30px; }
        body .thrifty .project2 .description a {
          background-color: none;
          border: 2px solid #f7006d;
          border-radius: 5px;
          text-decoration: none;
          color: #f7006d;
          font-size: 20px;
          padding: 10px;
          margin-right: 15px; }
          body .thrifty .project2 .description a .gitlink {
            padding-left: 10px; }
          body .thrifty .project2 .description a .fas {
            margin-right: 10px; }
        body .thrifty .project2 .description a:hover {
          color: #f7006d;
          border: 3px solid #ececec;
          font-size: 21px; }
    body .thrifty .thrifty-tech {
      width: 100%; }
      body .thrifty .thrifty-tech ul {
        display: flex;
        justify-content: center;
        width: 100%;
        list-style: none;
        color: #ececec;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0; }
        body .thrifty .thrifty-tech ul li {
          display: inline;
          margin: 100px 15px;
          font-size: 25px; }
          body .thrifty .thrifty-tech ul li .software-name {
            display: none; }
        body .thrifty .thrifty-tech ul li:hover .software-name {
          display: flex;
          font-size: 8px; }
        body .thrifty .thrifty-tech ul li:hover .software-icon {
          display: none; }
  body .timeline {
    background-color: #ececec;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 70vh;
    color: #f7006d;
    text-align: center;
    padding: 30px; }
  body footer {
    background-color: #242935;
    color: #ececec;
    height: 30vh;
    display: flex;
    flex-direction: column; }
    body footer p {
      margin-block-start: 0;
      margin-block-end: 0;
      text-align: center;
      font-size: 25px;
      align-items: center;
      padding-top: 20px; }
    body footer .contact {
      display: flex;
      justify-content: center; }
      body footer .contact a {
        font-size: 45px;
        color: #f7006d; }
        body footer .contact a i {
          margin: 45px 15px 0 15px; }
    body footer .copywrite p {
      color: #ececec;
      font-size: 22px;
      padding-top: 40px; }

/*# sourceMappingURL=style.css.map */
