body {
  background-color: #242935;
  p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
  }
  button {
    background-color: none;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // top: 120px;
    height:100px;
    width: 100px;
  }
  .home {
    height: 100vh;
    text-align: center;
    .head {
      height: 150px;
    }
    a {
      background-color: none;
      border: 2px solid white;
      text-decoration: none;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      padding: 15px;
      .fas {
        margin-right: 10px;
      }
    }
    a:hover {
      border: 3px solid white;
      font-size: 21px;
    }
    .name {
      color: #f7006d;
      font-weight: bold;
    }
  }
  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .project {
      height: 40vh;
      width: 40%;
      margin: 10px;
      border: 2px solid white;
      background-color: black;
    }
  }
}
