* {
  padding: none;
  margin: none;
}
body {
  font-family: 'Raleway', sans-serif;
  .navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #242935;
    padding: 10px 0 15px 0;
    a:first-child {
      margin-left: 40px;
    }
    a {
      text-decoration: none;
      color: #ececec;
      font-size: 18px;
      margin: 20px;
    }
  }
  p {
    color: #ececec; // controlling title page
    font-size: 40px;
  }
  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    height:110px;
    width: 110px;
  }
  .home {
    background-color: #242935;
    // background-color: #f7006d;
    height: 100vh;
    text-align: center;
    p {
      padding-top: 30px;
      .name {
        color: #f7006d;
        font-weight: bold;
      }
    }
    .i-am {
      padding-top: 30px;
      margin-bottom: 50px;
    }
    a { // projects button
      background-color: none;
      border: 2px solid #ececec;
      border-radius: 5px;
      text-decoration: none;
      color: #ececec;
      font-size: 20px;
      padding: 15px;
      .fas {
        padding-left: 10px;
      }
    }
    a:hover {
      border: 3px solid #ececec;
      font-size: 21px;
    }
  }
  .about{
    background-color: #ececec;
    padding: 30px 0 ;
    h2 {
      color: #f7006d;
      font-size: 30px;
      text-align: center;
      padding-bottom: 30px;
      // margin-block-start: 0;
    }
    p {
      color: #242935;
      text-align: center;
      margin: 0 auto 30px auto;
      font-size: 18px;
      padding: 0 40px;
      width: 80%;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      width: 80%;
      margin: 0 auto 0px auto;
      // padding-inline-start: 0px;
      li {
        text-align: center;
        width: 20%;
        font-size: 40px;
        color: #f7006d;
        margin-bottom: 15px;
        .software-name {
          display: none;
        }
      }
      li:hover {
        .software-name {
          justify-content: center;
          display: flex;
          color: #242935;
        }
        .software-icon {
          display: none;
        }
      }
    }
  }
  .projects-wrapper {
    background-color: #242935;
    .projects-title {
      color: #f7006d;
      font-size: 30px;
      text-align: center;
      padding: 50px 30px 30px 30px;
    }
    .project-section {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 10vh;
      }
      .project {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .desktop-image {
          display: flex;
          justify-content: center;
          min-width: 40%;
          padding-left: 40px;
          img {
            height: 250px;
          }
        }
        .description {
          // display: none;
          max-width: 50%;
          padding-left: 40px;
          padding-right: 40px;
          p {
            font-size: 18px;
            margin-bottom: 30px;
            padding-right: 20px;
          }
          a { // app and github buttons
            background-color: none;
            border: 2px solid #f7006d;
            border-radius: 5px;
            text-decoration: none;
            color: #f7006d;
            font-size: 20px;
            padding: 10px;
            margin-right: 15px;
            .gitlink {
              padding-left: 10px;
            }
            .fas {
              margin-right: 10px;
            }
          }
          a:hover {
            border: 3px solid #ececec;
            font-size: 21px;
          }
        }
        .desktop-tech {
          width: 100%;
          ul {
            display: flex;
            justify-content: center;
            width: 100%;
            list-style: none;
            color: #ececec;
            // padding-inline-start: 0;
            li {
              display: inline;
              margin: 100px 15px;;
              font-size: 25px;
              .software-name {
                display: none;
              }
            }
            li:hover {
              .software-name {
                display: flex;
                font-size: 8px;
              }
              .software-icon {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .timeline {
    background-color: #ececec;
    text-align: center;
    h2 {
      color: #f7006d;
      font-size: 30px;
      padding: 30px;
      // margin-block-start: 0;
      // margin-block-end: 0;
    }
    h3 {
      font-size: 23px;
      font-weight: bold;
      color: #f7006d;
    }
    p {
      color: #242935;
      font-size: 20px;
      padding: 15px 30px 30px 30px;
    }
    .last {
      padding-bottom: 50px;
    }
  }
  footer {
    background-color: #242935;
    color: #ececec;
    height: 200px;
    display: flex;
    flex-direction: column;
      .email {
        p {
          color: #ececec;
          text-align: center;
          font-size: 18px;
          padding: 20px 0 10px 0;
        }
      }
    .contact {
      display: flex;
      justify-content: center;
      a{
        font-size: 45px;
        color: #f7006d;
        i {
          margin: 15px 15px 0 15px;;
        }
      }
    }
    .copywrite {
      p {
        color: #ececec;
        font-size: 22px;
        padding-top: 30px;
      }
    }
  }

  @media screen and (max-device-width: 1201px) {
    .home {
      p {
        font-size: 70px;
      }
      padding-top: 350px;
      .avatar {
        height: 200px;
        width: 200px;
      }
      .i-am {
        margin-bottom: 140px;
      }
      a {
        font-size: 50px;
        border: 4px solid white;
      }
    }
    .about {
      padding-bottom: 50px;
      h2 {
        font-size: 50px;
      }
      p{
        font-size: 40px;
      }
    }
    .projects-wrapper {
      .project-section {
        .project {
          .desktop-image {
            padding-left: 0px !important;
            padding-bottom: 30px;
            margin: 0 auto;
          }
          .description {
            min-width: 90%;
            a {
              display: block;
              text-align: center;
              font-size: 30px;
              margin: 0 300px 10px 300px;
            }
            .project-info {
              width: 100%;
              text-align: center;
              font-size: 40px;
            }
          }
          footer {
            height: 20vh;
            p {
              font-size: 30px;
              padding-top: 60px;
            }
            .contact {
              a {
                i {
                  font-size: 60px;
                }
              }
            }
          }
        }
      }
    }
  }
}
