// $primary-color: #333;
// $primary-background-color: #111111;
// $text-color-p1: #f0e15f;
// $text-color-p2: #bcb454;
// $text-color-p3: #8a8242;
// $text-color-c1: #c22a4c;
// $text-color-c2: #a02943;
// $text-color-c3: #852138;
// @import "./partials/nav";


body {
  background-color: #242935;
  p {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
  }
  button {
    background-color: none;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; 
    height:100px;
    width: 100px;
  }
  .home {
    height: 100vh;
    text-align: center;
    top: 250px;
    a {
      background-color: none;
      border: 2px solid white;
      text-decoration: none;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      padding: 15px;
      margin-top: 1000px;
    }
    .name {
      color: #f7006d;
      font-weight: bold;
    }
  }
}
